.create-illustration-content { max-width:980px; margin:0 auto;
    .addition-periods { margin-top:33px;}
    .label-title { text-align:right; display:block; font-weight:bold; padding-right:10px; }
    .form-control { width:90%; }
    .amount-text { width:95%; }
    .custom-control-label { padding-top:0; }
    .or-text { position:absolute; top:50%; right:0; font-size:14px; }
}